<div class="message-container d-flex" id="message-<%= message.id %>">
  <%= cl_image_tag message.user.photo.key, class: "small-round-avatar mr-3", style: "height:80px;width:80px;" %>
  <div class="message-container">
    <div class="ml-2 d-flex" >
      <h6><%= message.user.username %> <em style="margin-left:5px;font-size:65%;"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></em></h6>
    </div>
    
    <div class="message-background ml-1">
      <p><%= message.content %></p>
    </div>
  </div>
</div>