<div class="container">
  <%= simple_form_for([@character, @milestone]) do |f| %>
    <%= f.input :milestone_name %>
    <%= f.input :model_overview %>
    <%= f.association :goal, collection: @goals, label_method: :goal_name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Submit', class: "form-button"  %>
    <%= link_to "Delete",
        milestone_path(@milestone),
        method: :delete,
        data: { confirm: "Are you sure? This will delete all associated threads" } %>
  <% end %>
</div>
