<div class="user-profile">
  <div class="left-user-profile">
    <div class="user-profile-chat">
    <h1>plotting dashboard</h1>
      <% @chatrooms.each do |chatroom|%>
        <%= render './users/chatroom_card', chatroom: chatroom %>
      <% end %>
    </div>
  </div>
  <div class="right-user-profile">
    <div class="user-profile-image">
      <div class="rank-box">
        rank 1
      </div>
      <%= image_tag @user.avatar, alt: @user.username, class: "round-avatar" %>
        <% unless current_user.friends.includes(@user) %>
        <%= simple_form_for([@user, @friendinvite]) do |f|%>
          <%= button_tag(type: 'submit', class:'btn-purple') do %>
              <i class="fas fa-user-plus"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="user-details">
      <h1><%= @user.username %></h1>
      <h4>Age</h4>
      <h3><%= @user.age %></h3>
      <h4>Pronouns</h4>
      <h3><%= @user.pronouns %></h3>
      <h4>Timezone</h4>
      <h3><%= @user.timezone %></h3>
      <h4>Preferences</h4>
    </div>
  </div>
</div>
