<div class="container mt-3">
  <%= simple_form_for([@character, @relationship]) do |f| %>
    <%= f.input :relation_name %>
    <%= f.input :relation_status %>
    <%= f.input :relation_detail %>
    <%= f.input :relation_pic %>
    <%= f.submit %>
  <% end %>
</div>
