<% unless invite.friend_confirm %>
	<div class="card" style="display:flex; flex-direction:row; align-items:center;  border-radius:35px;">
	  <%= cl_image_tag invite.user.photo.key, class: "small-round-avatar" %>
		<%= link_to invite.user.username, user_path(invite.user), class: "ml-3" %>
		<%= simple_form_for([@user, invite]) do |f|%>
			<%= button_tag(type: 'submit', style: "background-color: #FFF; border: none; color: $blue;") do %>
					<i class="fas fa-user-check"></i>
			<% end %>
			<%= link_to '<i class="fas fa-user-times"></i>'.html_safe,
					friendship_invite_path(invite),
					method: :delete,
					data: { confirm: "Are you sure you want to reject #{invite.user.username}'s invite?" } %>
		<% end %>
	</div>
<% end %>