<div class="user-profile">
  <div class="left-user-profile">
    <div class="category justify-content-between">
          <h2>all characters</h2>
          <h2><%= link_to '<i class="fas fa-plus"></i>'.html_safe, new_user_character_path %></h2>
        </div>
    <% @characters.each do |character|%>
      <div class="card">
        <%= link_to character.name, user_character_path(@user, character) %>
      </div>
    <% end %>
  </div>
   <div class="right-user-profile">
    <div class="user-profile-image">
      <div class="rank-box">
        rank 1
      </div>
      <%= cl_image_tag current_user.photo.key, class: "round-avatar" %>
    </div>
    <div class="user-details">
      <h1><%= current_user.username %></h1>
      <h4>Age</h4>
      <h3><%= current_user.age %></h3>
      <h4>Pronouns</h4>
      <h3><%= current_user.pronouns %></h3>
      <h4>Timezone</h4>
      <h3><%= current_user.timezone %></h3>
      <h4>Preferences</h4>
    </div>
  </div>
</div>