<div class="container mt-4 mb-5 narrow-container">
  <h2>Character Creation</h2>
	<%= simple_form_for([current_user, @character]) do |f| %>
		<div class="row">
			<%= f.input :name, wrapper_html: {class:"col-6"} %>
			<%= f.input :age, wrapper_html: {class:"col-6"} %>
		</div>
		<div class="row">
			<%= f.input :gender, wrapper_html: {class:"col-6"} %>
			<%= f.input :birthday, wrapper_html: {class:"col-6"} %>
		</div>
		<div class="row">
			<%= f.input :sexuality, wrapper_html: {class:"col-6"} %>
		</div>
		<%= f.input :relationships, collection: @relations, :label_method => :name, style: "display:inline-block;", wrapper_html: {class:"form-group"}, as: :check_boxes, item_wrapper_class:"form-check-inline", input_html: { multiple: true } %>
		<%= f.input :overview %>
		<div class="row">
			<%= f.input :positive, wrapper_html: {class:"col-6"} %>
			<%= f.input :negative, wrapper_html: {class:"col-6"} %>
		</div>
		<%= f.input :personality %>
		<%= f.input :history %>
		<%= f.input :other %>
		<%= f.input :photo, as: :file %>
		<%=  %>
		<%= f.submit 'Submit', class: "form-button"  %>
	<% end %>
</div>

