<div class="container mt-4">
	<%= simple_form_for([current_user, @character]) do |f| %>
		<%= f.input :name %>
		<%= f.input :age %>
		<%= f.input :gender %>
		<%= f.input :birthday %>
		<%= f.input :sexuality %>
		<%= f.input :overview %>
		<%= f.input :positive %>
		<%= f.input :negative %>
		<%= f.input :personality %>
		<%= f.input :history %>
		<%= f.input :other %>
		<%= f.input :photo, as: :file %>
		<%= f.submit 'Submit', class: "form-button"  %>
	<% end %>
</div>
