<div class="user-profile">
  <div class="left-user-profile">
    <div id="togglebox" style="display:inline-block; display:flex;">
      <h2 class="mr-3" style="display: inline-block;"> Dashboard | Biography</h2>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="toggle-section">
      <div id="toggle_one">
        <%= render 'charactergoal' %>
      </div>
      <div id="toggle_two" class="inactive">
        <%= render 'characteroverview' %>
      </div>
    </div>
  </div>
  <div class="right-user-profile">
    <div class="user-profile-image">
      <%= image_tag @character.character_pic, alt: "pic of #{@character.name}", class: "square-image" %>
    </div>
    <div class="user-details character-right">
      <h1><%= @character.name %></h1>
      <h5><%= @character.age %> - <%= @character.gender %> - <%= @character.birthday %> - <%= @character.sexuality %></h5>
      <p><%= @character.overview %></p>
    </div>
  </div>
</div>