<div class="container">
  <%= simple_form_for([@character, @postthread]) do |f| %>
    <%= f.input :thread_name %>
    <%= hidden_field_tag :referrer, request.referer %>
    <%= f.input :thread_status, collection: @statuses %>
    <%= f.input :thread_detail %>
    <%= f.input :thread_link %>
    <%= f.association :milestone, collection: @milestones, label_method: :milestone_name %>
    <%= f.submit %>
    <%= link_to "Delete",
        postthread_path(@postthread),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
