<div class="flex-container">
  <div class="sortable-container">
		<div class="sortable-header">
			<h3>Not Started</h3>
		</div>
		<ul id ="sortable-one" data-controller ="drag-item">
			<% @postthreads.each do |thread| %>
				<% if thread.thread_status == "Not Started" %>
				  <li draggable="true" >
						<div class="thread-card small-width">
							<div class="card-body small-body">
								<h4><%= link_to thread.thread_name, thread.thread_link  %> <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_character_postthread_path(thread.milestone.goal.character, thread.id) %></h4>
								<h5><%= thread.milestone.goal.character.name %> with <%= thread.milestone.goal.character.relationships.map{|relationship|relationship.relation_name}.join(', ') %> </h5>
							</div>
							<div class="card-body small-body">
								<h4 class="align-right"><strong><%= thread.milestone.goal.goal_name %></strong></h4>
								<h4 class="align-right"><%= thread.milestone.milestone_name %></h4>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
  </div>
  <div class="sortable-container">
	  <div class="sortable-header">
		  <h3>To Reply</h3>
		</div>
		<ul id ="sortable-two" data-controller ="drag-item">
			<% @postthreads.each do |thread| %>
				<% if thread.thread_status == "To Reply" %>
					<li draggable="true">
						<div class="thread-card small-width">
							<div class="card-body small-body">
								<h4><%= link_to thread.thread_name, thread.thread_link  %> <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_character_postthread_path(thread.milestone.goal.character, thread.id) %></h4>
								<h5><%= thread.milestone.goal.character.name %> with <%= thread.milestone.goal.character.relationships.map{|relationship|relationship.relation_name}.join(', ') %> </h5>
							</div>
							<div class="card-body small-body">
								<h4 class="align-right"><strong><%= thread.milestone.goal.goal_name %></strong></h4>
								<h4 class="align-right"><%= thread.milestone.milestone_name %></h4>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
  </div>
  <div class="sortable-container">
	  <div class="sortable-header">
		  <h3>Waiting for reply</h3>
		</div>
		<ul id = "sortable-three"  data-controller ="drag-item">
			<% @postthreads.each do |thread| %>
				<% if thread.thread_status == "Waiting for Reply" %>
					<li draggable="true" >
						<div class="thread-card small-width">
							<div class="card-body small-body">
								<h4><%= link_to thread.thread_name, thread.thread_link  %> <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_character_postthread_path(thread.milestone.goal.character, thread.id) %></h4>
								<h5><%= thread.milestone.goal.character.name %> with <%= thread.milestone.goal.character.relationships.map{|relationship|relationship.relation_name}.join(', ') %> </h5>
							</div>
							<div class="card-body small-body">
								<h4 class="align-right"><strong><%= thread.milestone.goal.goal_name %></strong></h4>
								<h4 class="align-right"><%= thread.milestone.milestone_name %></h4>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
  </div>
  <div class="sortable-container">
	  <div class="sortable-header">
		  <h3>Completed</h3>
		</div>
		<ul id = "sortable-four">
			<% @postthreads.each do |thread| %>
				<% if thread.thread_status == "Completed" %>
					<li draggable="true">
						<div class="thread-card small-width">
							<div class="card-body small-body">
								<h4><%= link_to thread.thread_name, thread.thread_link  %> <%= link_to '<i class="fas fa-pen-fancy"></i>'.html_safe, edit_character_postthread_path(thread.milestone.goal.character, thread.id) %></h4>
								<h5><%= thread.milestone.goal.character.name %> with <%= thread.milestone.goal.character.relationships.map{|relationship|relationship.relation_name}.join(', ') %></h5>
							</div>
							<div class="card-body small-body">
								<h4 class="align-right"><strong><%= thread.milestone.goal.goal_name %></strong></h4>
								<h4 class="align-right"><%= thread.milestone.milestone_name %></h4>
							</div>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
  </div>
</div>
